# === APP CONFIGURATION ===
NODE_ENV=production
PORT=3000

# === DATABASE CONFIGURATION ===
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=gps_admin
DB_PASSWORD=Gpsc3ntr4l2026
DB_NAME=gpscentralbd

# === JWT CONFIGURATION ===
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRATION=24h

# === AWS S3 CONFIGURATION ===
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_REGION=us-east-1
AWS_S3_BUCKET_NAME=your_bucket_name

# === TRACCAR CONFIGURATION ===
TRACCAR_URL=http://localhost:8082
TRACCAR_AUTHORIZATION=Basic YWxleGlzYjF2MUBnbWFpbC5jb206QEwzeDFzYjF2MQ==
